{% load staticfiles %}
<html>
	<head>
		<title>ACIS Panel Status</title>
		<link rel="stylesheet" href="{% static 'css/acisStatus.css' %}"> 
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<center>

			<div class="title"><h1>ACIS Panel Status</h1></div>
			<div class="table">
				<table class"table table-condensed">  
					<tr>
					<th>Beamline</th>
					<th>Locked Status</th>
					<th>Notes</th>
					</tr>
				{% for beamline in beamlines %}
				<tr>
			    <td>{{ beamline.name }}</td>
				    <td>
				    	{% if beamline.locked %}<i class="fa fa-check-circle-o"></i>
							{% else %}<i class="fa fa-minus-circle"></i>
						{% endif %}
					</td>
				    <td>{{ beamline.notes }}</td> 
				    </tr>
				{% endfor %}	
				</table>
			</div>
		</center>	
	</body>
</html>