.title h1  {
	color: #4700b3;
	font-family: 'Oswald', sans-serif;
	display: block; 
	margin: 0px auto; 
	padding-bottom: 25px;
	text-align: center;
}
.table td{
	text-align: center;
	font-size: 150%;
}

.table th{
	font-size: 200%;
	text-align: center;
	
}